{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome to Co-Working Space System</h1>
        {% if txt %} {{txt | safe }} {% endif %}
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="card w-100 text-center">
                        <h5 class="card-header">Check in</h5>
                        <div class="card-body">
                            <h5 class="card-title">Member ID : </h5>
                            <form method="POST" name="index" action="{% url 'index' %}">
                            {% csrf_token %}
                                <input type="text" class="form-control text-center" id="check_in_id" name="check_in_id" value="{{check_in_id}}" placeholder="Enter Member ID" required>
                            <p class="card-text mt-3">Zone: 
                                <select id="zone" name="select" onchange="ChangeZone()">
                                    {% if zone %} {{zone | safe }} {% endif %}
                                </select>
                                Price : <label id='price'></label>
                                <p> Description : <label id='description'></label></p>
                            </p>
                            <button type="submit" name="check_in" class="btn btn-success" value="check_in">Check in</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card w-100 text-center mt-3">
                        <h5 class="card-header">Check out</h5>
                        <div class="card-body">
                            <h5 class="card-title">Member ID : </h5>
                            <form method="POST" name="index" action="{% url 'index' %}">
                            {% csrf_token %}
                                <input type="text" class="form-control text-center" id="check_out_id" name="check_out_id" value="{{check_out_id}}" placeholder="Enter Member ID">
                                {% if member %} <p class="card-text" id="money">Money Left: ฿ {{money}} </p>{% endif %}
                                <button type="submit" name="check_out" class="btn btn-danger mt-3" value="check_out">Check out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card w-100 h-100">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <form method="POST" action="{% url 'index' %}">
                        {% csrf_token %}
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" id="search" name="search" placeholder="Search" value="{{search}}">
                        </div>
                        <button class="btn btn-info">Search</button>
                        </form>
                        {% if member %} <p class="card-text" id="money">Member ID :  {{mem_id}} </p>{% endif %}
                        {% if member %} <p class="card-text" id="money">Money : ฿ {{money}} </p>{% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Time in</th>
                                    <th scope="col">Time out</th>
                                    <th scope="col">Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for seatbooking in seatbooking_list %}
                                <tr>
                                    <td>{{ seatbooking.time_in }}</td>
                                    <td>{{ seatbooking.time_out }}</td>
                                    <td>{{ seatbooking.zone.title }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    
{% endblock %}

